body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
}

header {
  background: linear-gradient(135deg, #4b6cb7, #182848);
  color: white;
  padding: 60px 20px;
}

.name {
  color: #ffd700;
}

section {
  padding: 30px 20px;
}

h2 {
  color: #182848;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #4b6cb7;
  color: white;
  margin: 10px auto;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
}

footer {
  background-color: #182848;
  color: white;
  padding: 10px;
  font-size: 14px;
}
